body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 0 160px;
}

.header_logo {
  font-family: roboto;
  font-size: 24px;
  color: #f9faf8;
}

.header_links {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 15px;
  align-items: center;
}
.header_links a {
  font-family: roboto;
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.hero_section {
  background-color: #1f2937;
  padding: 100px 160px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.info_and_cta {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.heading_text {
  font-family: roboto;
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  width: 350px;
  padding: 0;
  margin: 0;
}

.hero_text {
  font-family: roboto;
  font-size: 18px;
  color: #e5e7eb;
  width: 450px;
  padding: 0;
  margin: 0;
}

.hero_cta {
  font-family: roboto;
  font-size: 18px;
  color: #f9faf8;
  background-color: #3882f6;
  border: 0;
  border-radius: 4px;
  width: max-content;
  padding: 6px 20px;
}

.hero_section_image img {
  flex: 0.5;
  max-width: 400px;
  height: 230px;
}

.information_section {
  padding: 20px 200px;
}
.infotmation_title {
  text-align: center;
  font-family: roboto;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}
.info_cards {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.info_boxes_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info_box {
  border: 2px solid #3882f6;
  border-radius: 12px;
  height: 150px;
  width: 150px;
}
.info_text {
  color: #2e3949;
  font-size: 18px;
  width: 150px;
  text-align: center;
}

.quote_section {
  background-color: #e5e7eb;
  padding: 40px 260px;
}

.quote_text {
  font-family: roboto;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f291f;
}
.quote_owner {
  text-align: end;
  font-family: roboto;
  font-size: 24px;
}
